<app-header />
<div id="fullpage">
  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source class="fullpage-image"
        media="(min-width: 768px)" 
        srcset="assets/web/img1.jpeg">
      <source class="fullpage-image"
        media="(max-width: 768px)" 
        srcset="assets/phone/img1.jpeg">
      <img 
        src="assets/phone/img1.jpeg"
        class="fullpage-image" 
        loading="lazy" 
        alt="Vakko Banner">
    </picture>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <video [muted]="'muted'" loop autoplay src="assets/web/vid1.mp4" alt="Img2" class="fullpage-image"></video>
  </div>

  <a class="item-link">
    <div class="section">
      <div class="fp-bg"></div>
      <picture>
        <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img2.jpeg">
        <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img2.jpeg">
        <img 
        src="assets/phone/img2.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
      </picture>
      <div class="overlay-text">İLKBAHAR/YAZ'24</div>
    </div>
  </a>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img3.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img3.jpeg">
      <img 
        src="assets/phone/img3.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko Banner">
    </picture>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img4.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img4.jpeg">
      <img 
        src="assets/phone/img4.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko Banner">
    </picture>
    <div class="overlay-text">VAKKO KADIN</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img5.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img5.jpeg">
      <img 
        src="assets/phone/img5.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko Banner">
    </picture>
    <div class="overlay-text">VAKKO ERKEK</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img6.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img6.jpeg">
      <img 
        src="assets/phone/img6.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">SHOES & BAGS</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img7.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img7.jpeg">
      <img 
        src="assets/phone/img7.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO EŞARP</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img8.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img8.jpeg">
      <img 
        src="assets/phone/img8.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">V2K DESIGNERS</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img9.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img9.jpeg">
      <img 
        src="assets/phone/img9.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO MARE</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img10.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img10.jpeg">
      <img 
        src="assets/phone/img10.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">COUTURE</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img11.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img11.jpeg">
      <img 
        src="assets/phone/img11.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">WEDDING</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img12.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img12.jpeg">
      <img 
        src="assets/phone/img12.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO HOME</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img13.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img13.jpeg">
      <img 
        src="assets/phone/img13.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">KOZMETİK</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img14.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img14.jpeg">
      <img 
        src="assets/phone/img14.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO L'ATELIER</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img15.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img15.jpeg">
      <img 
        src="assets/phone/img15.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO HOTEL & RESIDENCE</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img16.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img16.jpeg">
      <img 
        src="assets/phone/img16.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img17.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img17.jpeg">
      <img 
        src="assets/phone/img17.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/img18.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/img18.jpeg">
      <img 
        src="assets/phone/img18.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">WORLD OF VAKKO</div>
  </div>
</div>
<app-footer/>

  